{% extends 'base.html' %}
{% block main %}
{% load widget_tweaks %}
<main id="content">
	
	<div class="bg-gray-1000 py-6 pt-lg-9 pb-lg-11 mb-7 mb-lg-10">
		<div class="container px-md-5 mb-lg-2">
			<h6 class="font-size-30 font-weight-semi-bold text-center mb-1">Contact</h6>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb justify-content-center p-0">
					<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Contact</li>
				</ol>
			</nav>
		</div>
		{% if messages %}
		{% for message in messages %}
		{% if message.tags == 'success' %}
			<div class="alert alert-primary" role="alert">
				<p class="w-100 text-justify text-center">{{ message }}</p>
			</div>
		{% else %}
			<div class="alert alert-danger" role="alert">
				<p class="w-100 text-justify text-center">{{ message }}</p>
			</div>
		{% endif %}
		{% endfor %}
		{% endif %}
	</div>
	<div class="space-bottom-1 space-bottom-lg-2">
		<div class="container px-md-5 pb-lg-6">
			<div class="row">
				<div class="col-lg-7">
					<div class="mb-5 mb-lg-0">
						<h5 class="font-size-18 font-weight-medium mb-4">Write to us E-mail message</h5>
						
						<form class="js-validate" action="/contact/" method="post">
							{% csrf_token %}
							<div class="row">
								
								<div class="col-sm-6 mb-3">
									<div class="js-form-message">
										<label class="input-label font-size-15 font-weight-medium font-size-15 font-weight-medium">
											Your name
										</label>
										{% render_field form.name class="js-form-message" type="text" placeholder="Your name" minlength="2" maxlength="25" id="contact-name" %}
									</div>
								</div>
								
								
								<div class="col-sm-6 mb-3">
									<div class="js-form-message">
										<label class="input-label font-size-15 font-weight-medium">
											Your email address
										</label>
										 {% render_field form.email class="js-form-message" type="email" placeholder="Your email address" id="contact-email" %}
									</div>
								</div>
								
								
								<div class="col-sm-12 mb-3">
									<div class="js-form-message">
										<label class="input-label font-size-15 font-weight-medium">
											Subject
										</label>
										{% render_field form.subject class="js-form-message" type="text" placeholder="Subject" id="contact-subject" %}
									</div>
								</div>
							
							</div>
							
							<div class="js-form-message mb-3">
								<label class="input-label font-size-15 font-weight-medium">
									Your Message
								</label>
								<div class="input-group">
									{% render_field form.message class="form-control rounded-0" placeholder="Your Message" maxlenght="1000" id="contact-message" %}
								</div>
							</div>
							
							<div>
								<button type="submit" class="btn btn-primary px-3 transition-3d-hover border-radius-sm font-size-1">
									<span class="mx-1">Send Message</span>
								</button>
							</div>
						</form>
					
					</div>
				</div>
				<div class="col-lg-5">
					<div class="pl-lg-5 ml-lg-1">
						<h5 class="font-size-18 font-weight-medium mb-4">Frequently Asked Questions</h5>
						<div class="mb-5 mb-lg-8">
							
							<div id="basicsAccordion">
								
								<div class="mb-2">
									<div class="card-collapse v1" id="basicsHeadingOne">
										<button type="button" class="d-flex align-items-center btn btn-link btn-block card-btn p-0 collapsed" data-toggle="collapse" data-target="#basicsCollapseOne" aria-expanded="false"
												aria-controls="basicsCollapseOne">
											<span class="card-btn-toggle">
											<span class="card-btn-toggle-default">+</span>
											<span class="card-btn-toggle-active">−</span>
											</span>
											<span class="text-primary font-size-1 font-secondary font-weight-medium ml-1">On how many devices can i watch at the same time?</span>
										</button>
									</div>
									<div id="basicsCollapseOne" class="collapse" aria-labelledby="basicsHeadingOne" data-parent="#basicsAccordion">
										<div class="card-body pl-4 pt-2 mt-1 pb-2">
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer
										</div>
									</div>
								</div>
								
								
								<div class="mb-2">
									<div class="card-collapse v1" id="basicsHeadingTwo">
										<button type="button" class="d-flex align-items-center btn btn-link btn-block card-btn p-0 collapsed" data-toggle="collapse" data-target="#basicsCollapseTwo" aria-expanded="false"
												aria-controls="basicsCollapseTwo">
											<span class="card-btn-toggle">
											<span class="card-btn-toggle-default">+</span>
											<span class="card-btn-toggle-active">−</span>
											</span>
											<span class="text-primary font-size-1 font-secondary font-weight-medium ml-1">First launch of Vodi</span>
										</button>
									</div>
									<div id="basicsCollapseTwo" class="collapse" aria-labelledby="basicsHeadingTwo" data-parent="#basicsAccordion">
										<span class="card-body pl-4 pt-2 mt-1 pb-2">
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer
										</span>
									</div>
								</div>
								
								
								<div class="mb-2">
									<div class="card-collapse v1" id="basicsHeadingThree">
										<button type="button" class="d-flex align-items-center btn btn-link btn-block card-btn p-0 collapsed" data-toggle="collapse" data-target="#basicsCollapseThree" aria-expanded="false"
												aria-controls="basicsCollapseThree">
											<span class="card-btn-toggle">
											<span class="card-btn-toggle-default">+</span>
											<span class="card-btn-toggle-active">−</span>
											</span>
											<span class="text-primary font-size-1 font-secondary font-weight-medium ml-1">What is a Vodi?</span>
										</button>
									</div>
									<div id="basicsCollapseThree" class="collapse" aria-labelledby="basicsHeadingThree" data-parent="#basicsAccordion">
										<span class="card-body pl-4 pt-2 mt-1 pb-2">
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer
										</span>
									</div>
								</div>
								
								
								<div class="mb-2">
									<div class="card-collapse v1" id="basicsHeadingFour">
										<button type="button" class="d-flex align-items-center btn btn-link btn-block card-btn p-0 collapsed" data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false"
												aria-controls="basicsCollapseFour">
											<span class="card-btn-toggle">
											<span class="card-btn-toggle-default">+</span>
											<span class="card-btn-toggle-active">−</span>
											</span>
											<span class="text-primary font-size-1 font-secondary font-weight-medium ml-1">Failure to login Vodi on Mobile</span>
										</button>
									</div>
									<div id="basicsCollapseFour" class="collapse" aria-labelledby="basicsHeadingFour" data-parent="#basicsAccordion">
										<span class="card-body pl-4 pt-2 mt-1 pb-2">
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer
										</span>
									</div>
								</div>
								
								
								<div class="mb-0">
									<div class="card-collapse v1" id="basicsHeadingFive">
										<button type="button" class="d-flex align-items-center btn btn-link btn-block card-btn p-0 collapsed" data-toggle="collapse" data-target="#basicsCollapseFive" aria-expanded="false"
												aria-controls="basicsCollapseFive">
											<span class="card-btn-toggle">
											<span class="card-btn-toggle-default">+</span>
											<span class="card-btn-toggle-active">−</span>
											</span>
											<span class="text-primary font-size-1 font-secondary font-weight-medium ml-1">Access to Vodi + packages in European Union Countries</span>
										</button>
									</div>
									<div id="basicsCollapseFive" class="collapse" aria-labelledby="basicsHeadingFive" data-parent="#basicsAccordion">
										<span class="card-body pl-4 pt-2 mt-1 pb-2">
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer
										</span>
									</div>
								</div>
							
							</div>
						
						</div>
						<div class="row">
							<div class="col-md-6">
								<h6 class="font-size-18 font-weight-medium mb-3 pb-1">Our Office</h6>
								<address class="font-size-13 text-gray-1300">
									Brooklyn, New York <br>
									849 Diamond Str, 112th Floor <br>
									NY 10012 New York, United Stated America
								</address>
							</div>
							<div class="col-md-6">
								<h6 class="font-size-18 font-weight-medium mb-3 pb-1">Working Hours</h6>
								<div class="font-size-13 text-gray-1300">Mon-Sat:8:00-17:00</div>
								<div class="font-size-13 text-gray-1300">Sunday: Closed</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock main %}