{% extends 'base.html' %}
{% block main %}
{% load static %}
{% load i18n %}
<main id="content">
	<div class="home-slider position-relative overflow-hidden">
		<div id="sliderSyncingNav" class="js-slick-carousel slick" data-hs-slick-carousel-options='{
                    "dots": true,
                    "dotsClass": "d-xl-none slick-pagination mb-3 position-absolute right-0 left-0 bottom-0",
                    "infinite": true,
                    "asNavFor": "#sliderSyncingThumb"
                }'>
			{% for film in today_recomendation %}
			<div class="bg-img-hero d-flex align-items-center min-h-676rem slider-gradient" style="background-image: url({{ film.background.url }});">
				<div class="container">
					<div class="mx-3 mx-md-5  col-xl-5 px-0">
						{% if request.LANGUAGE_CODE == 'uk' %}
						<h1 class="display-3 mb-3"><a href="{% url 'single' film.slug %}" class="h-w-primary">{{ film.title }}</a></h1>
						{% else %}
						<h1 class="display-3 mb-3"><a href="{% url 'single' film.slug %}" class="h-w-primary">{{ film.title_en }}</a></h1>
						{% endif %}
						<div class="mb-4d">
							<ul class="list-unstyled nav nav-meta nav-meta__white">
								<li class="">{{ film.release_year }}</li>
								{% for category in film.categories.all %}
									{% if request.LANGUAGE_CODE == 'uk' %}
									<li class=""><a href="{% url 'category' category.slug %}">{{ category.name }} </a></li>
									{% else %}
									<li class=""><a href="{% url 'category' category.slug %}">{{ category.name_en }} </a></li>
									{% endif %}
								{% endfor %}
								{% if request.LANGUAGE_CODE == 'uk' %}
								<li class="">{{ film.views }}</li>
								{% else %}
								<li class="">{{ film.views_en }}</li>
								{% endif %}
							</ul>
						</div>
						<div class="d-md-flex">
							<a href="{{ film.movie_link }}" class="btn btn-primary px-6 py-3d btn-sm mb-3 mb-md-0">{% trans 'WATCH NOW' %}</a>
							<a href="{{ film.trailer_link }}" class="btn btn-outline-light ml-md-4 px-6 py-3d btn-sm">{% trans 'TRAILER' %}</a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="d-none d-xl-flex position-xl-absolute col-xl-6 mr-3 right-0 bottom-0  mb-xl-12  slider-m-0 flex-column">
			<h4 class="text-white font-size-22 font-weight-normal mb-3">{% trans 'Todays Recomendation' %}</h4>
			<div id="sliderSyncingThumb" class="js-slick-carousel slick slick-gutters-1 slick-transform-off" data-hs-slick-carousel-options='{
                        "infinite": true,
                        "slidesToShow": 8,
                        "isThumbs": true,
                        "asNavFor": "#sliderSyncingNav",
                        "responsive": [{
                            "breakpoint": 1199,
                            "settings": {
                                "slidesToShow": 2
                            },
                            "breakpoint": 768,
                            "settings": {
                                "slidesToShow": 2
                            }
                        }]
                    }'>
				{% for film in today_recomendation %}
				<div class="my-1d" style="cursor: pointer;">
					<img class="img-fluid" style="width:130px; height:180px;" src="{{ film.image.url }}" alt="Image Description">
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<section class="bg-gray-1100 dark">
		<div class="container px-md-4">
			<div class="row mb-xl-5">
				<div class="col-xl-auto d-flex">
					<header class="max-w-370 mt-auto mb-8 title-dash">
						<h3 class="display-7 text-white mb-3 pr-xl-12 font-weight-semi-bold">{% trans 'Popular movies to watch' %}</h3>
						<div class="border-top border-g-1200-op mr-xl-7">
						</div>
					</header>
				</div>
				<div class="col">
					<div class="row row-cols-2 row-cols-md-5">
						{% for film in max_rating %}
						<div class="col mb-5 mb-xl-0">
							<div class="product">
								<div class="product-image mb-2">
									<a href="{% url 'single' film.slug %}" class="d-inline-block position-relative stretched-link"><img class="img-fluid" src="{{ film.image.url }}" alt="Image Description"></a>
								</div>
								
								<div class="product-meta font-size-12 mb-1">
									<span><a class="h-g-primary text-white">{{ film.release_year }}</a></span>
									{% for category in film.categories.all %}
										{% if request.LANGUAGE_CODE == 'uk' %}
										<span><a href="{% url 'category' category.slug %}" class="h-g-primary text-white">{{ category.name }} </a></span>
										{% else %}
										<span><a href="{% url 'category' category.slug %}" class="h-g-primary text-white">{{ category.name_en }} </a></span>
										{% endif %}
									{% endfor %}
								</div>
								{% if request.LANGUAGE_CODE == 'uk' %}
								<div class="product-title font-weight-bold font-size-1"><a href="{% url 'single' film.slug %}">{{ film.title }}</a></div>
								{% else %}
								<div class="product-title font-weight-bold font-size-1"><a href="{% url 'single' film.slug %}">{{ film.title_en }}</a></div>
								{% endif %}
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="row row-cols-md-5 row-cols-xl">
				{% for film in max_rating2 %}
				<div class="col-6 col-xl mb-5 mb-xl-0">
					<div class="product">
						<div class="product-image mb-2">
							<a href="{% url 'single' film.slug %}" class="d-inline-block position-relative stretched-link">
								<span class="position-absolute px-2d line-height-lg bg-primary rounded content-centered-x z-index-2 mt-n2 text-white font-size-12">{% trans 'Recommended' %}</span>
								<img class="img-fluid" src="{{ film.image.url }}" alt="Image Description">
							</a>
						</div>
						<div class="product-meta font-size-12 mb-1">
							<span><a class="text-white">{{ film.release_year }}</a></span>
							{% for category in film.categories.all %}
								{% if request.LANGUAGE_CODE == 'uk' %}
								<span><a href="{% url 'category' category.slug %}" class="h-g-primary text-white">{{ category.name }} </a></span>
								{% else %}
								<span><a href="{% url 'category' category.slug %}" class="h-g-primary text-white">{{ category.name_en }} </a></span>
								{% endif %}
							{% endfor %}
						</div>
						{% if request.LANGUAGE_CODE == 'uk' %}
						<div class="product-title font-weight-bold font-size-1"><a href="{% url 'single' film.slug %}">{{ film.title }}</a></div>
						{% else %}
						<div class="product-title font-weight-bold font-size-1"><a href="{% url 'single' film.slug %}">{{ film.title_en }}</a></div>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
</main>
{% endblock main%}
