<div class="d-md-flex align-items-center justify-content-between">
	<nav aria-label="Page navigation example">
		{% if is_paginated %}
		<ul class="pagination toolbox-item">
		   <li>
				<a href="{{request.path}}?page=1{% if request.GET.q %}&q={{ request.GET.q }}
				{% endif %}">
				<i class="fa fa-angle-double-left"></i>
				</a>
			</li>
			{% for i in paginator.page_range %}
			  {% if forloop.counter|add:3 > page_obj.number and forloop.counter < page_obj.number|add:3 %}
				<li class="page-item"><a href="{{request.path}}?page={{i}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a></li>
			  {% endif %}
			{% endfor %}
			<li>
				<a href="{{request.path}}?page={{paginator.num_pages}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
					<i class="fa fa-angle-double-right"></i>
				</a>
			</li>
		</ul>
		{% endif %}
	</nav>
</div>