{% extends 'base.html' %}
{% block main %}
{% load static %}
{% load i18n %}
<main id="content" xmlns="http://www.w3.org/1999/html">
	<div class="bg-gray-1100 space-bottom-2 space-bottom-lg-3">
		<div class="container px-md-6">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb dark font-size-1">
					<li class="breadcrumb-item"><a href="{% url 'index' %}" class="text-gray-1300">{% trans "Home" %}</a></li>
					<li class="breadcrumb-item text-white active" aria-current="page">{% trans "My Generation" %}</li>
				</ol>
			</nav>
		</div>
		<section>
			<div class="container px-md-6">
				<div class="row">
					<div class="col-md-3">
						<div>
							<img class="img-fluid" src="{{ film.image.url }}" alt="Image-Description">
						</div>
						<div class="bg-gray-3100">
						</div>
					</div>
					<div class="col-md-9">
						<div class="pl-md-2 pt-4">
							<div class="row border-bottom border-gray-5600 space-bottom-2 no-gutters mb-4">
								<div class="col-md-7 col-lg">
									<div class="mb-5 mb-md-0">
										{% if request.LANGUAGE_CODE == 'uk' %}
										<h6 class="font-size-36 text-white mb-4 pb-1">{{ film.title }}</h6>
										{% else %}
										<h6 class="font-size-36 text-white mb-4 pb-1">{{ film.title_en }}</h6>
										{% endif %}
										<div class="d-flex align-items-center mb-5">
											<div class="d-flex">
												<div>
													<i class="fas fa-star text-primary font-size-42"></i>
												</div>
												<div class="text-lh-1 ml-1">
													<div class="text-primary font-size-24 font-weight-semi-bold">{{ film.rating }}</div>
												</div>
											</div>
											<div class="d-flex align-items-center ml-6 text-gray-1300">
												<div>
													<i class="far fa-heart font-size-30"></i>
												</div>
											</div>
										</div>
										<ul class="list-unstyled nav nav-meta font-secondary mb-3 pb-1 flex-nowrap flex-lg-wrap overflow-auto overflow-lg-hidden">
											<li class="text-white flex-shrink-0 flex-shrink-lg-1">{{ film.release_year }}</li>
											{% if request.LANGUAGE_CODE == 'uk' %}
											<li class="text-white flex-shrink-0 flex-shrink-lg-1">{{ film.views }}</li>
											{% else %}
											<li class="text-white flex-shrink-0 flex-shrink-lg-1">{{ film.views_en }}</li>
											{% endif %}
											<li class="text-white flex-shrink-0 flex-shrink-lg-1">
												{% for category in film.categories.all %}
													{% if request.LANGUAGE_CODE == 'uk' %}
													<a href="{% url 'category' category.slug %}" class="text-white">{{ category.name }} |</a>
													{% else %}
													<a href="{% url 'category' category.slug %}" class="text-white">{{ category.name_en }} |</a>
													{% endif %}
												{% endfor %}
											</li>
										</ul>
										{% if request.LANGUAGE_CODE == 'uk' %}
										<p class="text-gray-5500 font-size-16 mb-5 pb-1 text-lh-md">{{ film.description }}</p>
										{% else %}
										<p class="text-gray-5500 font-size-16 mb-5 pb-1 text-lh-md">{{ film.description_en }}</p>
										{% endif %}
										<div class="d-flex justify-content-between">
											<div>
												<span class="text-white font-size-13">{% trans 'Director' %}</span>
												<h6 class="font-size-15 mb-0">
													{% for director in film.directors.all %}
														{% if request.LANGUAGE_CODE == 'uk' %}
														<a href="#" class="text-white">{{ director.name }}</a>
														{% else %}
														<a href="#" class="text-white">{{ director.name_en }}</a>
														{% endif %}
													{% endfor %}
												</h6>
											</div>
											<div>
												<span class="text-white font-size-13">{% trans 'Actors' %}</span>
												<h6 class="font-size-15 mb-0">
													{% for actor in film.actors.all %}
														{% if request.LANGUAGE_CODE == 'uk' %}
														<a href="#" class="text-white">{{ actor.name }} |</a>
														{% else %}
														<a href="#" class="text-white">{{ actor.name_en }} |</a>
														{% endif %}
													{% endfor %}
												</h6>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-5 col-lg-auto">
									<div class="pl-md-3">
										<div class="d-flex flex-column">
											<a href="{{ film.movie_link }}" class="btn btn-primary d-flex align-items-center justify-content-center w-lg-220rem h-52rem mb-3" tabindex="0">{% trans 'WATCH NOW' %}</a>
											<a href="{{ film.trailer_link }}" class="btn btn-outline-light d-flex align-items-center justify-content-center  w-lg-220rem h-52rem" tabindex="0">{% trans 'TRAILER' %}</a>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-6 mb-lg-8">
								<div class="font-size-26 text-gray-5500 mb-3 pb-1">{% trans 'You may also like it' %}</div>
								<div class="row row-cols-1 row-cols-md-3 row-cols-xl-6 mx-n2 dark">
									{% for film in related_films %}
									<div class="col-xl px-2">
										<div class="product mb-5 mb-xl-0">
											<div class="product-image mb-2">
												<a href="{% url 'single' film.slug %}" class="d-inline-block position-relative stretched-link">
													<img class="img-fluid" src="{{ film.image.url }}" alt="Image Description">
												</a>
											</div>
											<div class="product-meta font-size-12 mb-1">
												<a href="#" class="h-g-primary">{{ film.release_year }} |</a>
												{% for category in film.categories.all %}
													{% if request.LANGUAGE_CODE == 'uk' %}
													<a href="{% url 'category' category.slug %}" class="h-g-primary">{{ category.name }} |</a>
													{% else %}
													<a href="{% url 'category' category.slug %}" class="h-g-primary">{{ category.name_en }} |</a>
													{% endif %}
												{% endfor %}
											</div>
											{% if request.LANGUAGE_CODE == 'uk' %}
											<div class="product-title font-weight-bold font-size-1"><a href="{% url 'single' film.slug %}">{{ film.title }}</a></div>
											{% else %}
											<div class="product-title font-weight-bold font-size-1"><a href="{% url 'single' film.slug %}">{{ film.title_en }}</a></div>
											{% endif %}
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
							<div class="mb-6 mb-lg-8">
								<div class="font-size-26 text-gray-5500 mb-3 pb-1">{% trans 'The director also shot' %}</div>
								<div class="row no-gutters dark">
									{% for film in related_director %}
									<div class="col-md-6">
										<div class="product mb-5 mb-md-0">
											<div class="row no-gutters">
												<div class="col-md-3 col-lg-2">
													<div class="product-image mb-2 mb-md-0">
														<a href="{% url 'single' film.slug%}" class="d-inline-block position-relative stretched-link"><img class="img-fluid" src="{{ film.image.url }}"alt="Image Description"></a>
													</div>
												</div>
												<div class="col-md">
													<div class=" px-md-4d d-flex justify-content-between d-md-block">
														<div>
															<div class="product-meta font-size-12">
																<a href="#" class="h-g-primary" tabindex="0">{{ film.release_year}} |</a>
																{% for category in film.categories.all %}
																	{% if request.LANGUAGE_CODE == 'uk' %}
																	<a href="{% url 'category' category.slug %}" class="h-g-primary">{{ category.name }} |</a>
																	{% else %}
																	<a href="{% url 'category' category.slug %}" class="h-g-primary">{{ category.name_en }} |</a>
																	{% endif %}
																{% endfor %}
															</div>
															<div class="font-size-1 font-weight-bold mb-2 product-title d-inline-block">
																{% if request.LANGUAGE_CODE == 'uk' %}
																<a href="{% url 'single' film.slug%}">{{ film.title }}</a>
																{% else %}
																<a href="{% url 'single' film.slug%}">{{ film.title_en }}</a>
																{% endif %}
															</div>
															{% if request.LANGUAGE_CODE == 'uk' %}
															<p class="mb-2 font-size-1 line-clamp-1 text-gray-1300">{{ film.description }}</p>
															{% else %}
															<p class="mb-2 font-size-1 line-clamp-1 text-gray-1300">{{ film.description_en }}</p>
															{% endif %}
														</div>
														<div class="d-flex align-items-center">
															<div class="rating-number position-relative font-size-42">
																<i class="fas fa-star d-flex justify-content-center">
																</i>
																<span class="font-size-13 font-weight-bold text-gray-1800 position-absolute bottom-0 top-0 right-0 left-0 d-flex align-items-center justify-content-center">{{ film.rating }}</span>
															</div>
															<div class="font-size-1 text-gray-1300 text-center text-lh-1 ml-3">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
							<div class="row">
							<div class="single-form-left">
								<!-- contact form grid -->
								<div class="contact-single color-white">
									<h3 class="editContent" style="outline: none; cursor: inherit; color: #9f9fa4">
										<span class="sub-tittle editContent">Усього відгуків {{ film.reviews_set.count }}</span>
									</h3>
									<h3 class="editContent" style="outline: none; cursor: inherit; color: #9f9fa4">
										<span> Залишити відгук </span>
									</h3>
									<form action="{% url 'add_review' film.id %}" method="post" class="mt-4" id="formReview">
										{% csrf_token %}
										<input type="hidden" name="parent" id="contactparent" value="">
										<div class="form-group editContent">
											<label for="contactcomment" class="editContent">Ваш відгук *</label>
											<textarea class="form-control border" rows="5" name="text" id="contactcomment" required=""></textarea></div>
										<div class="d-sm-flex">
											<div class="col-sm-6 form-group p-0 editContent">
												<label for="contactusername" class="editContent">Ім'я *</label>
												<input type="text" class="form-control border" name="name" id="contactusername" required="">
											</div>
											<div class="col-sm-6 form-group ml-sm-3 editContent">
												<label for="contactemail" class="editContent">Email *</label>
												<input type="email" class="form-control border" name="email" id="contactemail" required="">
											</div>
										</div>
										<button style="background-color: #3D4750; border-color: #0a0d14"  type="submit" class="mt-3 btn btn-success btn-block py-3">Відправити</button>
									</form>
								</div>
								<!--  //contact form grid ends here -->
							</div>
						</div>
							{% for review in film.get_review %}
								<div class="media py-5">
									<img src="{% static 'img/36x36/img1.jpg' %}" class="mr-3 img-fluid" alt="image">
									<div class="media-body mt-4">
										<h5 class="mt-0 editContent" style="color: honeydew">{{ review.name }}
										</h5>
										<p class="mt-2 editContent" style="color: honeydew">{{ review.text }}
										</p>
										<a href="#formReview" onclick="addReview('{{ review.name }}', '{{ review.id }}')">Відповісти</a>
										{% for rew in review.reviews_set.all %}
											<div class="media mt-5 editContent">
												<a class="pr-3" href="#">
													<img src="{% static 'img/36x36/img1.jpg' %}" class="img-fluid " alt="image">
												</a>
												<div class="media-body">
													<h5 class="mt-0 editContent" style="color: honeydew">{{ rew.name }}</h5>
													<p class="mt-2 editContent" style="color: honeydew">{{ rew.text }}</p>
												</div>
											</div>
										{% endfor %}
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					<script>
						function addReview(name, id) {
							document.getElementById("contactparent").value = id;
							document.getElementById("contactcomment").innerText = `${name}, `
						}
					</script>
				</div>
			</div>
		</section>
	</div>
</main>
{% endblock main %}