{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	
	<title> Movies | Vodi </title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="shortcut icon" href="../../favicon.ico">
	
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" href="{% static 'vendor/font-awesome/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/hs-mega-menu/dist/hs-mega-menu.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/dzsparallaxer/dzsparallaxer.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/cubeportfolio/css/cubeportfolio.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/aos/dist/aos.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/slick-carousel/slick/slick.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/fancybox/dist/jquery.fancybox.css' %}">
	
	<link rel="stylesheet" href="{% static 'css/theme.css' %}">
</head>
<body>
{% include 'header.html' %}
<main id="content">
	<div class="bg-gray-1100 space-bottom-2 space-bottom-lg-3">
		<div class="container px-md-6">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb dark font-size-1">
					<li class="breadcrumb-item"><a href="../home/index.html" class="text-gray-1300">Home</a></li>
					<li class="breadcrumb-item"><a href="#" class="text-gray-1300">Documentary</a></li>
					<li class="breadcrumb-item text-white active" aria-current="page"> My Generation</li>
				</ol>
			</nav>
		</div>
		<section>
			<div class="container px-md-6">
				<div class="row">
					<div class="col-md-3">
						<div>
							<img class="img-fluid" src="{{ film.image.url }}" alt="Image-Description">
						</div>
						<div class="bg-gray-3100">
						</div>
					</div>
					<div class="col-md-9">
						<div class="pl-md-2 pt-4">
							<div class="row border-bottom border-gray-5600 space-bottom-2 no-gutters mb-4">
								<div class="col-md-7 col-lg">
									<div class="mb-5 mb-md-0">
										<h6 class="font-size-36 text-white mb-4 pb-1">{{ film.title }}</h6>
										<div class="d-flex align-items-center mb-5">
											<div class="d-flex">
												<div>
													<i class="fas fa-star text-primary font-size-42"></i>
												</div>
												<div class="text-lh-1 ml-1">
													<div class="text-primary font-size-24 font-weight-semi-bold">{{ film.rating }}</div>
												</div>
											</div>
											<div class="d-flex align-items-center ml-6 text-gray-1300">
												<div>
													<i class="far fa-heart font-size-30"></i>
												</div>
												<a href="#" class="text-gray-1300 ml-2">До списку відтворення</a>
											</div>
										</div>
										<ul class="list-unstyled nav nav-meta font-secondary mb-3 pb-1 flex-nowrap flex-lg-wrap overflow-auto overflow-lg-hidden">
											<li class="text-white flex-shrink-0 flex-shrink-lg-1">{{ film.release_year }}</li>
											<li class="text-white flex-shrink-0 flex-shrink-lg-1">{{ film.duration }}</li>
											<li class="text-white flex-shrink-0 flex-shrink-lg-1">
												{% for category in film.categories.all %}
												<a href="{% url 'category' category.slug %}" class="text-white">{{ category.name }} |</a>
												{% endfor %}
											</li>
										</ul>
										<p class="text-gray-5500 font-size-16 mb-5 pb-1 text-lh-md">{{ film.description }}</p>
										<div class="d-flex justify-content-between">
											<div>
												<span class="text-white font-size-13">Режисер</span>
												<h6 class="font-size-15 mb-0">
													{% for director in film.directors.all %}
													<a href="../single-movies/single-movies-v1.html" class="text-white">{{ director.name }}</a>
													{% endfor %}
												</h6>
											</div>
											<div>
												<span class="text-white font-size-13">Актори</span>
												<h6 class="font-size-15 mb-0">
													{% for actor in film.actors.all %}
													<a href="../single-movies/single-movies-v1.html" class="text-white">{{ actor.name }} |</a>
													{% endfor %}
												</h6>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-5 col-lg-auto">
									<div class="pl-md-3">
										<div class="d-flex flex-column">
											<a href="{{ film.movie_link }}" class="btn btn-primary d-flex align-items-center justify-content-center w-lg-220rem h-52rem mb-3" tabindex="0">ДИВИТИСЯ ЗАРАЗ</a>
											<a href="{{ film.trailer_link }}" class="btn btn-outline-light d-flex align-items-center justify-content-center  w-lg-220rem h-52rem" tabindex="0">ТРЕЙЛЕР</a>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-6 mb-lg-8">
								<div class="font-size-26 text-gray-5500 mb-3 pb-1">Вам також може сподобатися</div>
								<div class="row row-cols-1 row-cols-md-3 row-cols-xl-6 mx-n2 dark">
									{% for film in related_films %}
									<div class="col-xl px-2">
										<div class="product mb-5 mb-xl-0">
											<div class="product-image mb-2">
												<a href="{% url 'single' film.slug %}" class="d-inline-block position-relative stretched-link">
													<img class="img-fluid" src="{{ film.image.url }}" alt="Image Description">
												</a>
											</div>
											<div class="product-meta font-size-12 mb-1">
												<a href="../single-movies/single-movies-v1.html" class="h-g-primary">{{ film.release_year }} |</a>
												{% for category in film.categories.all %}
												<a href="{% url 'category' category.slug %}" class="h-g-primary">{{ category.name }} |</a>
												{% endfor %}
											</div>
											<div class="product-title font-weight-bold font-size-1"><a href="{% url 'single' film.slug %}">{{ film.title }}</a></div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
							<div class="mb-6 mb-lg-8">
								<div class="font-size-26 text-gray-5500 mb-3 pb-1">Також режисер зняв</div>
								<div class="row no-gutters dark">
									{% for film in related_director %}
									<div class="col-md-6">
										<div class="product mb-5 mb-md-0">
											<div class="row no-gutters">
												<div class="col-md-3 col-lg-2">
													<div class="product-image mb-2 mb-md-0">
														<a href="{% url 'single' film.slug%}" class="d-inline-block position-relative stretched-link"><img class="img-fluid" src="{{ film.image.url }}"alt="Image Description"></a>
													</div>
												</div>
												<div class="col-md">
													<div class=" px-md-4d d-flex justify-content-between d-md-block">
														<div>
															<div class="product-meta font-size-12">
																<a href="../single-movies/single-movies-v1.html" class="h-g-primary" tabindex="0">{{ film.release_year}} |</a>
																{% for category in film.categories.all %}
																<a href="{% url 'category' category.slug %}" class="h-g-primary">{{ category.name }} |</a>
																{% endfor %}
															</div>
															<div class="font-size-1 font-weight-bold mb-2 product-title d-inline-block">
																<a href="{% url 'single' film.slug%}">{{ film.title }}</a>
															</div>
															<p class="mb-2 font-size-1 line-clamp-1 text-gray-1300">{{ film.description }}</p>
														</div>
														<div class="d-flex align-items-center">
															<div class="rating-number position-relative font-size-42">
																<i class="fas fa-star d-flex justify-content-center">
																</i>
																<span class="font-size-13 font-weight-bold text-gray-1800 position-absolute bottom-0 top-0 right-0 left-0 d-flex align-items-center justify-content-center">{{ film.rating }}</span>
															</div>
															<div class="font-size-1 text-gray-1300 text-center text-lh-1 ml-3">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
							<div class="mb-6">
								<div class="description-title font-size-26 text-gray-5500 mb-3 pb-1">Відгуки користувачів</div>
								{% for comment in film.comments.all %}
								<div class="border-bottom border-gray-5600 mb-4 pb-4">
									<div class="d-flex mb-3 pb-1">
										<div>
											<img class="img-fluid rounded-circle" src="{% static 'img/36x36/img1.jpg' %}" alt="Image-Description">
										</div>
										<div class="ml-3">
											<div class="mb-2">
												<span class="text-primary">Користувач</span>
											</div>
										</div>
									</div>
									<p class="mb-3 text-gray-5500">{{ comment.comment }}</p>
									<div class="text-gray-1300">
										<a href="#" class="text-gray-1300">
											<i class="far fa-thumbs-up font-size-18"></i>
										</a>
										<span class="font-size-12 font-weight-semi-bold ml-1">1+</span>
									</div>
								</div>
								{% endfor %}
								<div>
							</div>
							<div>
								<div class="home-section">
									<header class="d-md-flex align-items-center justify-content-between mb-3 pb-1 w-100">
										<h6 class="section-title-dark d-block position-relative font-size-18 font-weight-medium overflow-md-hidden m-0 text-white flex-grow-1">Додайте відгук</h6>
									</header>
								</div>
								<div class="text-gray-1300">Ви повинні
									<a href="#">увійти</a> щоб опублікувати відгук.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</main>
{% include 'footer.html' %}
<a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;" data-hs-go-to-options='{
            "offsetTop": 700,
            "position": {
                "init": {
                    "right": 15
                },
                "show": {
                    "bottom": 15
                },
                "hide": {
                    "bottom": -15
                }
            }
        }'>
	<i class="fas fa-angle-up"></i>
</a>


<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'vendor/hs-header/dist/hs-header.min.js' %}"></script>
<script src="{% static 'vendor/hs-go-to/dist/hs-go-to.min.js' %}"></script>
<script src="{% static 'vendor/hs-unfold/dist/hs-unfold.min.js' %}"></script>
<script src="{% static 'vendor/hs-mega-menu/dist/hs-mega-menu.min.js' %}"></script>
<script src="{% static 'vendor/hs-show-animation/dist/hs-show-animation.min.js' %}"></script>
<script src="{% static 'vendor/hs-sticky-block/dist/hs-sticky-block.min.js' %}"></script>
<script src="{% static 'vendor/hs-counter/dist/hs-counter.min.js' %}"></script>
<script src="{% static 'vendor/hs-video-player/dist/hs-video-player.min.js' %}"></script>
<script src="{% static 'vendor/appear.js' %}"></script>
<script src="{% static 'vendor/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>
<script src="{% static 'vendor/jquery-validation/dist/jquery.validate.min.js' %}"></script>
<script src="{% static 'vendor/dzsparallaxer/dzsparallaxer.js' %}"></script>
<script src="{% static 'vendor/aos/dist/aos.js' %}"></script>
<script src="{% static 'vendor/slick-carousel/slick/slick.js' %}"></script>
<script src="{% static 'vendor/fancybox/dist/jquery.fancybox.min.js' %}"></script>

<script src="{% static 'js/hs.core.js' %}"></script>
<script src="{% static 'js/hs.validation.js' %}"></script>
<script src="{% static 'js/hs.cubeportfolio.js' %}"></script>
<script src="{% static 'js/hs.slick-carousel.js' %}"></script>
<script src="{% static 'js/hs.fancybox.js' %}"></script>

<script>
	$(document).on('ready', function () {
		// initialization of header
		var header = new HSHeader($('#header')).init();
		
		// initialization of mega menu
		var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
			desktop: {
				position: 'left'
			}
		}).init();
		
		// initialization of fancybox
		$('.js-fancybox').each(function () {
			var fancybox = $.HSCore.components.HSFancyBox.init($(this));
		});
		
		// initialization of unfold
		var unfold = new HSUnfold('.js-hs-unfold-invoker').init();
		
		// initialization of slick carousel
		$('.js-slick-carousel').each(function () {
			var slickCarousel = $.HSCore.components.HSSlickCarousel.init($(this));
		});
		
		// initialization of form validation
		$('.js-validate').each(function () {
			$.HSCore.components.HSValidation.init($(this), {
				rules: {
					confirmPassword: {
						equalTo: '#signupPassword'
					}
				}
			});
		});
		
		// initialization of show animations
		$('.js-animation-link').each(function () {
			var showAnimation = new HSShowAnimation($(this)).init();
		});
		
		// initialization of counter
		$('.js-counter').each(function () {
			var counter = new HSCounter($(this)).init();
		});
		
		// initialization of sticky block
		var cbpStickyFilter = new HSStickyBlock($('#cbpStickyFilter'));
		
		// initialization of cubeportfolio
		$('.cbp').each(function () {
			var cbp = $.HSCore.components.HSCubeportfolio.init($(this), {
				layoutMode: 'grid',
				filters: '#filterControls',
				displayTypeSpeed: 0
			});
		});
		
		$('.cbp').on('initComplete.cbp', function () {
			// update sticky block
			cbpStickyFilter.update();
			
			// initialization of aos
			AOS.init({
				duration: 650,
				once: true
			});
		});
		
		$('.cbp').on('filterComplete.cbp', function () {
			// update sticky block
			cbpStickyFilter.update();
			
			// initialization of aos
			AOS.init({
				duration: 650,
				once: true
			});
		});
		
		$('.cbp').on('pluginResize.cbp', function () {
			// update sticky block
			cbpStickyFilter.update();
		});
		
		// animated scroll to cbp container
		$('#cbpStickyFilter').on('click', '.cbp-filter-item', function (e) {
			$('html, body').stop().animate({
				scrollTop: $('#demoExamplesSection').offset().top
			}, 200);
		});
		
		// initialization of go to
		$('.js-go-to').each(function () {
			var goTo = new HSGoTo($(this)).init();
		});
	});
</script>

<script>
	if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="{% static 'vendor/polifills.js' %}"><\/script>');
</script>
</body>
</html>